---
BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4

AllowShortBlocksOnASingleLine: "Always"
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: "Inline"
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true

AlignConsecutiveAssignments:
  Enabled: true

AlignConsecutiveShortCaseStatements:
  Enabled: true
